 <div class="row">
  <div class="label">Cadena</div>
  <div class="field">
      <input type="text" name="entity.cadena" value="${entity?.cadena}"/>
  </div>
  <span class="error">${errors.forKey('entity.cadena')}</span>
</div>
 <div class="row">
  <div class="label">Serie</div>
  <div class="field">
      <input type="text" name="entity.serie" value="${entity?.serie}"/>
  </div>
  <span class="error">${errors.forKey('entity.serie')}</span>
</div>
 <div class="row">
  <div class="label">No Aprobacion</div>
  <div class="field">
      <input type="text" name="entity.noAprobacion" value="${entity?.noAprobacion}"/>
  </div>
  <span class="error">${errors.forKey('entity.noAprobacion')}</span>
</div>
 <div class="row">
  <div class="label">Folio Inicial</div>
  <div class="field">
      <input type="text" name="entity.folioInicial" value="${entity?.folioInicial}"/>
  </div>
  <span class="error">${errors.forKey('entity.folioInicial')}</span>
</div>
 <div class="row">
  <div class="label">Folio Final</div>
  <div class="field">
      <input type="text" name="entity.folioFinal" value="${entity?.folioFinal}"/>
  </div>
  <span class="error">${errors.forKey('entity.folioFinal')}</span>
</div>
 <div class="row">
  <div class="label">Folio Siguiente</div>
  <div class="field">
      <input type="text" name="entity.folioSiguiente" value="${entity?.folioSiguiente}"/>
  </div>
  <span class="error">${errors.forKey('entity.folioSiguiente')}</span>
</div>
 <div class="row">
  <div class="label">Status</div>
  <div class="field">
      <input type="text" name="entity.status" value="${entity?.status}"/>
  </div>
  <span class="error">${errors.forKey('entity.status')}</span>
</div>
 <div class="row">
  <div class="label">Fecha Vigencia</div>
  <div class="field">
      <input type="text" name="entity.fechaVigencia" value="${entity?.fechaVigencia}"/>
  </div>
  <span class="error">${errors.forKey('entity.fechaVigencia')}</span>
</div>
 <div class="row">
  <div class="label">Fecha Aprobacion</div>
  <div class="field">
      <input type="text" name="entity.fechaAprobacion" value="${entity?.fechaAprobacion}"/>
  </div>
  <span class="error">${errors.forKey('entity.fechaAprobacion')}</span>
</div>
 <div class="row">
  <div class="label">Created</div>
  <div class="field">
      <input type="text" name="entity.created" value="${entity?.created}"/>
  </div>
  <span class="error">${errors.forKey('entity.created')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

