#{extends 'main.html' /}
<h2>View CBB</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			cadena:
		</span>
		<span class="value">
      ${entity.cadena}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			serie:
		</span>
		<span class="value">
      ${entity.serie}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			noAprobacion:
		</span>
		<span class="value">
      ${entity.noAprobacion}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			folioInicial:
		</span>
		<span class="value">
      ${entity.folioInicial}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			folioFinal:
		</span>
		<span class="value">
      ${entity.folioFinal}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			folioSiguiente:
		</span>
		<span class="value">
      ${entity.folioSiguiente}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			status:
		</span>
		<span class="value">
      ${entity.status}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			fechaVigencia:
		</span>
		<span class="value">
      ${entity.fechaVigencia}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			fechaAprobacion:
		</span>
		<span class="value">
      ${entity.fechaAprobacion}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			created:
		</span>
		<span class="value">
      ${entity.created}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{CBBs.index}">Back</a>

