<html>
<head>
	<title>Hola</title>
	<style media="print">
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
		
		#contenedor { 
			
		}
		
		#contenido {
			margin-top: 10px;
		}
		
		#infoCliente {
			margin-top: 10px;
		}
		
		#logo {
			width: 150px;
			height: 70px;
		}
		
		.clienteDatos {
			font-size: 10px;
		}
		
		.clienteValor {
			font-weight: bold;
		}
		
		.textoConcepto {
			font-size: 11px;
			text-align: justify;
			min-height: 500px;
			overflow: hidden;
		}
		
		.cantidadConLetra {
			float:left;
			width:400px;
		}
		
		.cantidadConLetra p {
			font-size: 12px;
						
		}
		
		.desglose {
			float:right;
			width:285px;
		}
		
		.datosDesglose {
			font-size: 12px;
		}
		
		.datosDesglose td {
			padding: 8px;
		}
		
		 .datosDesgloseValor {
		 	font-weight: bold;
		 	text-align: right;
		 	width: 100%;
		 }
</head>
<body>
	<div id="contenedor">
		<div id="cabecera">
			<div>
				<img id="logo" src="@{'/public/images/captiva.png'}" height="60px" />
			</div>
			<div id="infoCliente">
				<table class="clienteDatos">
					<tr>
						<td>Cliente:</td>
						<td class="clienteValor">${ comprobante.cliente.razonsocial }</td>
					</tr>
					<tr>
						<td>RFC:</td>
						<td class="clienteValor">${ comprobante.cliente.rfc }</td>
					</tr>
					<tr>
						<td>Lugar:</td>
						<td class="clienteValor">
							${ comprobante.cliente.calle }&nbsp;#
							${ comprobante.cliente.noExterior }&nbsp;
							${ comprobante.cliente.noInterior },&nbsp;
							${ comprobante.cliente.colonia },&nbsp;
							C.P. ${ comprobante.cliente.codigoPostal },&nbsp;
							${ comprobante.cliente.municipio },&nbsp;
							${ comprobante.cliente.estado },&nbsp;
							${ comprobante.cliente.pais }&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>		
		<div id="contenido">
			<span style="font-weight:bold; font-size: 14px;">CONCEPTO</span>
			<hr style="margin-top: -1px; />
			<div id="concepto">
				<p class="textoConcepto">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				It has survived not only five centuries, but also the leap into electronic typesetting, 
				remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
				sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
				like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
		<div id="pie">
			<div class="cantidadConLetra">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="desglose">
				<table class="datosDesglose">
					<tr>
						<td>Subtotal:</td>
						<td class="datosDesgloseValor">${ comprobante.conceptos?.importe }$</td>
					</tr>
					<tr>
						<td>IVA:</td>
						<td class="datosDesgloseValor">${ comprobante.conceptos?.importe }$</td>
					</tr>
					<tr>
						<td>Retención IVA:</td>
						<td class="datosDesgloseValor">${ comprobante.conceptos?.importe }$</td>
					</tr>
					<tr>
						<td>Total:</td>
						<td class="datosDesgloseValor">${ comprobante.conceptos?.importe }$</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>