<html>
<head>
	<title>Hola</title>
	<style media="print">
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
		
		#contenedor { 
			
		}
		
		#contenido {
			margin-top: 10px;
		}
		
		#infoCliente {
			margin-top: 10px;
		}
		
		#logo {
			width: 150px;
			height: 70px;
		}
		
		.clienteDatos {
			font-size: 10px;
		}
		
		.clienteValor {
			font-weight: bold;
		}
		
		.textoConcepto {
			font-size: 11px;
			text-align: justify;
			min-height: 500px;
			overflow: hidden;
		}
		
		.cantidadConLetra {
			float:left;
			width:400px;
		}
		
		.cantidadConLetra p {
			font-size: 12px;
						
		}
		
		.desglose {
			float:right;
			width:285px;
		}
		
		.datosDesglose {
			font-size: 12px;
		}
		
		.datosDesglose td {
			padding: 8px;
		}
		
		 .datosDesgloseValor {
		 	font-weight: bold;
		 	text-align: right;
		 	width: 100%;
		 }
</head>
<body>
	<div id="contenedor">
		<div id="cabecera">
			<div>
				<img id="logo" src="@{'/public/images/captiva.png'}" height="60px" />
			</div>
			<div id="infoCliente">
				<table class="clienteDatos">
					<tr>
						<td>Cliente:</td>
						<td class="clienteValor">${ comprobante.cliente.razonsocial }</td>
					</tr>
					<tr>
						<td>RFC:</td>
						<td class="clienteValor">${ comprobante.cliente.rfc }</td>
					</tr>
					<tr>
						<td>Lugar:</td>
						<td class="clienteValor">
							${ comprobante.cliente.calle }&nbsp;#
							${ comprobante.cliente.noExterior }&nbsp;
							${ comprobante.cliente.noInterior },&nbsp;
							${ comprobante.cliente.colonia },&nbsp;
							C.P. ${ comprobante.cliente.codigoPostal },&nbsp;
							${ comprobante.cliente.municipio },&nbsp;
							${ comprobante.cliente.estado },&nbsp;
							${ comprobante.cliente.pais }&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>		
		<div id="contenido">
			<span style="font-weight:bold; font-size: 14px;">CONCEPTO</span>
			<hr style="margin-top: -1px; />
			<div id="concepto">
				<p class="textoConcepto">
				${comprobante.conceptos[0].concepto}
				</p>
			</div>
		</div>
		<div id="pie">
			<div class="cantidadConLetra">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="desglose">
				<table class="datosDesglose">
					<tr>
						<td>Subtotal:</td>
						<td class="datosDesgloseValor">${ comprobante.subTotal }$</td>
					</tr>
					<tr>
						<td>IVA:</td>
						<td class="datosDesgloseValor">${ comprobante.totalImpuestosTrasladados }$</td>
					</tr>
					<tr>
						<td>Retenci&oacute;n IVA:</td>
						<td class="datosDesgloseValor">${ comprobante.totalImpuestosRetenidos }$</td>
					</tr>
					<tr>
						<td>Total:</td>
						<td class="datosDesgloseValor">${ comprobante.total }$</td>
					</tr>
				</table>
			</div>
			<div style="padding-top:150px;">
			<div style="float:left;width:490px;text-align:justify;">
				<p style="font-size:10px;">LA REPRODUCION APOCRIFA DE ESTE COMPROBANTE CONSTITUYE UN DELITO EN LOS TERMINOS DE LAS DISPOSICIONES FISCALES</p>
				<p style="font-size:10px;">ESTE COMPROBANTE TENDRA UNA VIGENCIA DE DOS AÑOS CONTADOS A PARTIR DE LA FECHA DE APROBACION DE LA ASIGNACION DE FOLIOS, LA CUAL ES: <strong>${comprobante.cbb.fechaVigencia}</strong></p>
				<p style="font-size:10px">EFECTOS FISCALES AL PAGO</p>
			</div>
			<div style="float:left;margin-left:10px;width:185px;min-height:150px;border:1px solid red;">
				<img src="@{Application.leerImagen(comprobante.cbb.id)}" />
			</div>
		</div>
	</div>
</body>
</html>