#{extends 'main.html' /}
#{set title:'CBB' /}

<div id="header">
	<div class="wrapper">
		
		<div id="logo"><span><img src="/images/logo.gif" alt="EmiteCBB"></span></div>
		
		<ul id="loggedout-nav">
			<li>Emitir</li>
			<li><a href="/validarCBB">Validar CBB</a><sup>&nbsp;&nbsp;Nuevo!</sup></li>
		</ul>
	
	</div>
</div>

<div id="pagebar">
	<div class="wrapper">
		<h1><!-- --></h1>
	</div>
</div>

<!-- 
<h2>Leer CBB</h2>
<div class="entity">
#{form @Application.leerCBB(), id:'leerCBBForm', enctype:'multipart/form-data'}
	
	<div class="row">
	  <div class="label">Archivo</div>
	  <div class="field">
	      <input type="file" name="entity" />
	  </div>
	  <span class="error">${errors.forKey('entity')}</span>
	</div>
	
	<input type="submit" name="submit" value="Save" />
#{/form}
</div>
 -->
	<!-- <h3>Archivo CBB</h3>
	<p>
		<div class="row">
		  <div class="label">Archivo</div>
		  <div class="field">
		      <input type="file" name="comprobante.cbb.image" />
		  </div>
		  <span class="error">${errors.forKey('comprobante.cbb.image')}</span>
		</div>
	</p>
	-->
<!-- START MAIN CONTENT -->
<div id="maincontent">
	<div id="wrapper">
	#{form @Application.emitirComprobante(), id:'emitirComprobanteForm', enctype:'multipart/form-data'}
	<div class="container_12">
	<div class="grid_6">
			<fieldset>
			<legend>EMISOR</legend>
			
			<table class="formtable">
				<tr>
					<th><label for="rfc">RFC:</label></th>
					<td><input type="text" name="comprobante.emisor.rfc" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.rfc')}</td>
				</tr>
				<tr class="last">
					<th><label for="razonsocial">Razon Social:</label></th>
					<td><input type="text" name="comprobante.emisor.razonsocial" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.razonsocial')}</td>
				</tr>
				<tr class="last">
					<th><label for="calle">Calle:</label></th>
					<td><input type="text" name="email" id="comprobante.emisor.calle" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.calle')}</td>
				</tr>
				<tr class="last">
					<th><label for="noExterior">No. Exterior:</label></th>
					<td><input type="text" name="comprobante.emisor.noExterior" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.noExterior')}</td>
				</tr>
				<tr class="last">
					<th><label for="noInterior">No. Interior:</label></th>
					<td><input type="text" name="comprobante.emisor.noInterior" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.noInterior')}</td>
				</tr>
				<tr class="last">
					<th><label for="colonia">Colonia:</label></th>
					<td><input type="text" name="comprobante.emisor.colonia" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.colonia')}</td>
				</tr>
				<tr class="last">
					<th><label for="codigoPostal">Codigo Postal:</label></th>
					<td><input type="text" name="comprobante.emisor.codigoPostal" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.codigoPostal')}</td>
				</tr>
				<tr class="last">
					<th><label for="municipio">Municipio:</label></th>
					<td><input type="text" name="comprobante.emisor.municipio" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.municipio')}</td>
				</tr>
				<tr class="last">
					<th><label for="estado">Estado:</label></th>
					<td><input type="text" name="comprobante.emisor.estado" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.estado')}</td>
				</tr>
				<tr class="last">
					<th><label for="pais">Pais:</label></th>
					<td><input type="text" name="comprobante.emisor.pais" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.emisor.pais')}</td>
				</tr>
			</table>
			</fieldset>
		</div>
		<div class="grid_6">
			<fieldset>
			<legend>CLIENTE</legend>
			
			<table class="formtable">
				<tr>
					<th><label for="rfc">RFC:</label></th>
					<td><input type="text" name="comprobante.cliente.rfc" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.rfc')}</td>
				</tr>
				<tr class="last">
					<th><label for="razonsocial">Razon Social:</label></th>
					<td><input type="text" name="comprobante.cliente.razonsocial" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.razonsocial')}</td>
				</tr>
				<tr class="last">
					<th><label for="calle">Calle:</label></th>
					<td><input type="text" name="email" id="comprobante.cliente.calle" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.calle')}</td>
				</tr>
				<tr class="last">
					<th><label for="noExterior">No. Exterior:</label></th>
					<td><input type="text" name="comprobante.cliente.noExterior" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.noExterior')}</td>
				</tr>
				<tr class="last">
					<th><label for="noInterior">No. Interior:</label></th>
					<td><input type="text" name="comprobante.cliente.noInterior" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.noInterior')}</td>
				</tr>
				<tr class="last">
					<th><label for="colonia">Colonia:</label></th>
					<td><input type="text" name="comprobante.cliente.colonia" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.colonia')}</td>
				</tr>
				<tr class="last">
					<th><label for="codigoPostal">Codigo Postal:</label></th>
					<td><input type="text" name="comprobante.cliente.codigoPostal" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.codigoPostal')}</td>
				</tr>
				<tr class="last">
					<th><label for="municipio">Municipio:</label></th>
					<td><input type="text" name="comprobante.cliente.municipio" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.municipio')}</td>
				</tr>
				<tr class="last">
					<th><label for="estado">Estado:</label></th>
					<td><input type="text" name="comprobante.cliente.estado" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.estado')}</td>
				</tr>
				<tr class="last">
					<th><label for="pais">Pais:</label></th>
					<td><input type="text" name="comprobante.cliente.pais" class="textfield" value="" /></td>
					<td class="error">${errors.forKey('comprobante.cliente.pais')}</td>
				</tr>
			</table>
			</fieldset>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_8 prefix_2 suffix_2">
			<fieldset>
			<legend>CONCEPTOS</legend>
			</fieldset>
			hkjhjkhjk
		</div>
	</div>
	#{/form}
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
<div id="footer">
	<div id="wrapper">
	
		<p>Copyright SaaSMexico.com | <a href="http://saasmexico.com/">SaaSMexico.com</a> | <a href="http://captivatecnologia.com">Captiva Tecnologia Digital</a></p>
	
	</div>
</div>
