#{extends 'main.html' /}
#{set title:'Emitir CBB' /}

<div id="header">
	<div class="wrapper">
		
		<div id="logo"><span><img src="#" alt="EmiteCBB"></span></div> <!-- /public/images/logo.gif -->
		
		<ul id="loggedout-nav">
			<li>Emitir</li>
			<li><a href="/validarCBB">Validar CBB</a><sup>&nbsp;&nbsp;Nuevo!</sup></li>
		</ul>
	
	</div>
</div>
${cbb2?.cadena}
<div id="pagebar">
	<div class="wrapper">
		<h1><!-- --></h1>
	</div>
</div>

<!-- START MAIN CONTENT -->
<div id="maincontent">
	<div id="wrapper">
	<div class="container_12">
	#{form @Application.leerCBB(), id: 'leerCBBForm', enctype: 'multipart/form-data' }
		<div class="grid_6 prefix_3 suffix_3">
			<fieldset>
			<legend>IMAGEN CBB</legend>
			</fieldset>
			<input id="cbbLoad" type="file" name="entity" />
			<span class="error">#{error 'entity' /}</span>
		</div>
	#{/form}
	#{form @Application.emitir(), id:'emitirComprobanteForm', enctype:'multipart/form-data'}
	<div class="grid_6">
			<fieldset>
			<legend>DATOS DEL EMISOR</legend>
			
			<table class="formtable">
				<tr>
					<th><label for="rfc">RFC:</label></th>
					<td><input id="emisorRfc" type="text" name="comprobante.emisor.rfc" class="textfield" value="${ comprobante?.emisor?.rfc }" readonly="readonly" /></td>
					<td class="error">#{error 'emisor.rfc' /}</td>
				</tr>
				<tr class="last">
					<th><label for="razonsocial">Raz&oacute;n Social:</label></th>
					<td><input type="text" name="comprobante.emisor.razonsocial" class="textfield" value="${ comprobante?.emisor?.razonsocial }" /></td>
					<td class="error">#{error 'emisor.razonsocial' /}</td>
				</tr>
				<tr class="last">
					<th><label for="calle">Calle:</label></th>
					<td><input type="text" name="comprobante.emisor.calle" class="textfield" value="${ comprobante?.emisor?.calle }" /></td>
					<td class="error">#{error 'emisor.calle' /}</td>
				</tr>
				<tr class="last">
					<th><label for="noExterior">No. Exterior:</label></th>
					<td><input type="text" name="comprobante.emisor.noExterior" class="textfield" value="${ comprobante?.emisor?.noExterior }" /></td>
					<td class="error">#{error 'emisor.noExterior' /}</td>
				</tr>
				<tr class="last">
					<th><label for="noInterior">No. Interior:</label></th>
					<td><input type="text" name="comprobante.emisor.noInterior" class="textfield" value="${ comprobante?.emisor?.noInterior }" /></td>
					<td class="error">#{error 'emisor.noInterior' /}</td>
				</tr>
				<tr class="last">
					<th><label for="colonia">Colonia:</label></th>
					<td><input type="text" name="comprobante.emisor.colonia" class="textfield" value="${ comprobante?.emisor?.colonia }" /></td>
					<td class="error">#{error 'emisor.colonia' /}</td>
				</tr>
				<tr class="last">
					<th><label for="codigoPostal">Codigo Postal:</label></th>
					<td><input type="text" name="comprobante.emisor.codigoPostal" class="textfield" value="${ comprobante?.emisor?.codigoPostal }" /></td>
					<td class="error">#{error 'emisor.codigoPostal' /}</td>
				</tr>
				<tr class="last">
					<th><label for="municipio">Municipio:</label></th>
					<td><input type="text" name="comprobante.emisor.municipio" class="textfield" value="${ comprobante?.emisor?.municipio }" /></td>
					<td class="error">#{error 'emisor.municipio' /}</td>
				</tr>
				<tr class="last">
					<th><label for="estado">Estado:</label></th>
					<td><input type="text" name="comprobante.emisor.estado" class="textfield" value="${ comprobante?.emisor?.estado }" /></td>
					<td class="error">#{error 'emisor.estado' /}</td>
				</tr>
				<tr class="last">
					<th><label for="pais">Pais:</label></th>
					<td><input type="text" name="comprobante.emisor.pais" class="textfield" value="${ comprobante?.emisor?.pais }" /></td>
					<td class="error">#{error 'emisor.pais' /}</td>
				</tr>
			</table>
			</fieldset>
		</div>
		<div class="grid_6">
			<fieldset>
			<legend>DATOS DEL CLIENTE</legend>
			
			<table class="formtable">
				<tr>
					<th><label for="rfc">RFC:</label></th>
					<td><input type="text" name="comprobante.cliente.rfc" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.rfc' /}</td>
				</tr>
				<tr class="last">
					<th><label for="razonsocial">Razon Social:</label></th>
					<td><input type="text" name="comprobante.cliente.razonsocial" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.razonsocial' /}</td>
				</tr>
				<tr class="last">
					<th><label for="calle">Calle:</label></th>
					<td><input type="text" name="comprobante.cliente.calle" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.calle' /}</td>
				</tr>
				<tr class="last">
					<th><label for="noExterior">No. Exterior:</label></th>
					<td><input type="text" name="comprobante.cliente.noExterior" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.noExterior' /}</td>
				</tr>
				<tr class="last">
					<th><label for="noInterior">No. Interior:</label></th>
					<td><input type="text" name="comprobante.cliente.noInterior" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.noInterior' /}</td>
				</tr>
				<tr class="last">
					<th><label for="colonia">Colonia:</label></th>
					<td><input type="text" name="comprobante.cliente.colonia" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.colonia' /}</td>
				</tr>
				<tr class="last">
					<th><label for="codigoPostal">Codigo Postal:</label></th>
					<td><input type="text" name="comprobante.cliente.codigoPostal" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.codigoPostal' /}</td>
				</tr>
				<tr class="last">
					<th><label for="municipio">Municipio:</label></th>
					<td><input type="text" name="comprobante.cliente.municipio" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.municipio' /}</td>
				</tr>
				<tr class="last">
					<th><label for="estado">Estado:</label></th>
					<td><input type="text" name="comprobante.cliente.estado" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.estado' /}</td>
				</tr>
				<tr class="last">
					<th><label for="pais">Pais:</label></th>
					<td><input type="text" name="comprobante.cliente.pais" class="textfield" value="" /></td>
					<td class="error">#{error 'cliente.pais' /}</td>
				</tr>
			</table>
			</fieldset>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_8 prefix_2 suffix_2">
			<fieldset>
			<legend>CONCEPTOS</legend>
			</fieldset>
		</div>
		<div class="row-titles">
			<div class="grid_4">CONCEPTO</div>
			<div class="grid_2">CANTIDAD</div>
			<div class="grid_1">UNIDAD</div>
			<div class="grid_2">PRECIO UNIT.</div>
			<div class="grid_2">IVA (%)</div>
			<div class="grid_1">IMPORTE</div>
		</div>
		<div class="conceptos">
			<div class="row-titles">
				<div class="grid_4"><textarea name="comprobante.conceptos[0].concepto"></textarea></div>
				<div class="grid_2"><input id="cantidad" type="text" name="comprobante.conceptos[0].cantidad" size="10"></input></div>
				<div class="grid_1"><input type="text" name="comprobante.conceptos[0].unidad" size="5"></input></div>
				<div class="grid_2"><input id="precioUnitario" type="text" name="comprobante.conceptos[0].precioUnitario" size="10" ></input></div>
				<div class="grid_2"><input id="ivaPorcentaje" type="text" name="comprobante.conceptos[0].porcentajeIVATrasladado" size="10"></input></div>
				<div id="importe" class="grid_1" align="right"></div>
			</div>
		</div>
		<div class="container_12">
			
			<div class="prefix_8 grid_2" align="right">SubTotal:</div>
			<div id="subtotal" class="grid_2" align="right" style="border-bottom: 1px black solid;"></div>
			
			<div class="prefix_8 grid_2" align="right">IVA:</div>
			<div id="iva" class="grid_2" align="right" style="border-bottom: 1px black solid;"></div>
			
			<div class="prefix_8 grid_2" align="right">Total:</div>
			<div id="total" class="grid_2" align="right" style="border-bottom: 1px black solid;"></div>
			
		</div>
		<div class="container_12">
			<div class="prefix_5 grid_2 suffix_5"><input type="submit" name="submit" value="EMITIR CBB" class="button" /></div>
		</div>
	</div>
	#{/form}
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
<div id="footer">
	<div id="wrapper">
		<p>Copyright SaaSMexico.com | <a href="http://saasmexico.com/">SaaSMexico.com</a> | <a href="http://captivatecnologia.com">Captiva Tecnologia Digital</a></p>
	</div>
</div>

<div id="testingAJAX">

</div>

<script type="text/javascript">
	/*
	 * File upload
	 */
	$(function() {
		$('#leerCBBForm').ajaxForm({
			success: OnSuccess
		});
		
		$('#cbbLoad').change(function() {
   			$('#leerCBBForm').submit();
		});
		
		function OnSuccess(response, status) {
			// 1: Rfc, 2: noAprobacion, 3: folioInicial, 4: folioFinal, 5: serie, 6: fechaEmision, 7: fechaVigencia
			var data = response.cadena.split('|');
			$('#emisorRfc').val(data[1]);
		}
    });
    
    /*
     * Calc
     */
    $(function() {
    	var cantidad = 0;
    	var precioUni = 0;
    	var iva = 0;
    	var importe = 0;
    	var ivaPorciento = 0;
    	
    	calcular(cantidad, precioUni, ivaPorciento);
    	
    	$('#cantidad').keyup(function() {
    		cantidad = $(this).val();
    		calcular(cantidad, precioUni, ivaPorciento);
    	});
    	
    	$('#precioUnitario').keyup(function() {
    		precioUni = $(this).val();
    		calcular(cantidad, precioUni, ivaPorciento);
    	});
    	
    	$('#ivaPorcentaje').keyup(function() {
    		ivaPorciento = $(this).val();
    		calcular(cantidad, precioUni, ivaPorciento);
    	});
    	
    	function calcular(cantidad, precioUni, ivaPorciento) {
    		var importe = cantidad * precioUni;
    		var iva = importe * (ivaPorciento / 100);
    		var total = importe + iva;
    		$('#importe').text(importe + " $");
    		$('#subtotal').text(importe + " $");
    		$('#iva').text(iva + " $");
    		$('#total').text(total + " $");
    	}
    });
</script>
